<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> Table </title>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <title>Bank Customer Feedback Form</title>
    <link rel="stylesheet"
    href="/static/css/styles.css">

    </head>
    <body>
        <a href="{{ url_for('index') }}">Начальная страница</a>
        <div align="center">
        <h3>Стоимость квартиры по модели составляет {{ model_price }} рублей</h3>
        <h3>Средняя стоимость исходя из предложений {{ mean_price }} рублей</h3>
        </div>
        <table align="center">

          <tr>
              {% for header in headers %}
              <th> {{ header }}</th>
              {% endfor %}
          </tr>
      
          {% for row in data %}
          <tr>
              {% for cell in row %}
      
              <td>{{cell}}</td>
              {% endfor %}
          </tr>
          {% endfor %}
      </table>
    </body>
</html>